<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bj.dao.DepartmentDao">
	<select id="getAll" parameterType="role_department" resultType="department">
		select * from department
		
		<where>
			<if test="rid == 2">
				department.did =#{did} 
			</if>
		
		</where>
		
		
		
	</select>
</mapper>